<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="css/bootstrap-icons.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/formio.form.min.css" />
	<script src="js/formio.form.min.js"></script>
	<style>
		label {
			font-weight: bold;
		}
	</style>
</head>

<body>
	<div id="formio" style="margin: 20px"></div>
	<script type="module">
		(async () => {

			window.formIsReady = false;

			async function getFormSchema() {
				const response = await fetch('{{FORM_URL}}', {
					headers: {
						'Content-Type': 'application/json',
						'x-token': '{{FORMIO_API_KEY}}'
					}
				});

				if (!response.ok) {
					throw new Error('Error cargando formulario: ' + response.status);
				}

				const formSchema = await response.json();

				return formSchema;
			}

			async function getFormSubmission() {
				const response = await fetch('{{SUBMISSION_URL}}',
					{
						headers: {
							'Content-Type': 'application/json',
							'x-token': '{{FORMIO_API_KEY}}'
						}
					});

				if (!response.ok) {
					throw new Error('Error cargando submission: ' + response.status)
				}

				const submissionData = await response.json();

				return submissionData;
			}

			try {
				const formSchema = await getFormSchema();
				const submissionData = await getFormSubmission();

				const form = await Formio.createForm(
					document.getElementById('formio'),
					formSchema,
					{
						renderMode:"html",
						language: "es"
					});

				form.submission = submissionData;

				window.formIsReady = true;
			} catch (err) {
				document.getElementById('formio').innerText = 'Error: ' + err.message;
			}
		})();
	</script>
</body>

</html>